/* Smartphones */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

/* Smartphones */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
    .content h1 {
        display: none;
    }
    .info-popup {
        height: 100vh;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0;
    }
    .turn-device-overlay {
        display: none;
    }
    .control-layout-keyboard {
        display: none;
    }
}

@media (hover: none) {
    .control-panel-right {
        display: flex;
    }
    .control-panel-left {
        display: flex;
    }
    .fullscreen-panel-right {
        display: flex;
    }
    .fullscreen-panel-left {
        display: flex;
    }
}

@media(max-width: 1100px) {
    .control-btns {
        height: 64px;
        width: 64px;
    }
    .fullscreen-panel-right {
        display: none;
    }
    .fullscreen-panel-left {
        display: none;
    }

}
@media(max-width: 1000px) {
    .btn-play {
        width: 60px;
        height: 60px;
        border: 4px solid white;

        &:before{
            display:block;
            left: 60%;
            border-width: 13px 0px 13px 20px;
        }
    }
    .btn-replay {
        width: 60px;
        height: 60px;
        border: 4px solid white;
    }
    .btn-replay img {
        height: 44px;
    }
    .sound-fullscreen-cont {
        gap: 8px;
        bottom: 2.5%;
        right: 2.5%;    
    }
    .red-btn-cont {
        height: 24px;
        width: 24px;
    }
    .panel {
        width: 170px;
        bottom: 2.5%;
    }
    .home-icon {
        height: 24px;
        width: 24px;
    }
    .start-arrow {
        bottom: 3.5%;
        right: 23%;
        height: 36px;
        width: 36px;  
    }
    .move-right {
        right: 17%;
    } 
    .control-btns {
        height: 48px;
        width: 48px;
    }
    .fullscreen-control-btns {
        height: 48px;
        width: 48px;
    }
    .control-panel-right {
        padding: 35px 5px;
    }
    .control-panel-left {
        padding: 35px 5px;
    }
    .fullscreen-panel-right {
        padding: 35px 0;
    }
    .fullscreen-panel-left {
        padding: 35px 0;
    }
}
@media(max-width: 830px) {
    .icons {
        height: 24px;
        width: 24px;
    }
    .fullscreen-icon {
        height: 24px;
        width: 24px;
    }
    .start-arrow {
        bottom: 3.5%;
    }
    .info-popup {
        height: 100vh;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0;
    }
    .control-layout-keyboard {
        display: none;
    }
}
@media(min-width: 800px) {
    .turn-device-overlay {
        display: none;
    }
}
@media(max-width: 730px) {
    .replay-btn-container {
        top: 62%;
    }
    .start-arrow {
        right: 25%;
    }
    .move-right {
        right: 19%;
    }
    .control-btns {
        height: 30px;
        width: 30px;
    }
    .control-icons {
        height: 40px;
        width: 40px;
    }
    .fullscreen-control-btns {
        height: 40px;
        width: 40px;
    }
    .control-panel-right {
        padding: 35px 3px;
    }
    .control-panel-left {
        padding: 35px 3px;
    }
}
@media(max-width: 650px) {
    .sound-fullscreen-cont {
        gap: 5px;
    }
    .icons {
        height: 24px;
        width: 24px;
    }
    .fullscreen-icon {
        height: 24px;
        width: 24px;
    }
    .start-arrow {
        bottom: 4%;
        height: 32px;
        width: 32px;
    }
    .panel {
        width: 140px;
    }
    .red-btn-cont {
        height: 18px;
        width: 18px;
    }
    .home-icon {
        height: 18px;
        width: 18px;
    }
    .control-btns {
        height: 32px;
        width: 32px;
    }
    .fullscreen-control-btns {
        height: 32px;
        width: 32px;
    }

}
@media(max-width: 580px) {
    .start-arrow {
        right: 25%;
    }
    .move-right {
        right: 19%;
    }
    .control-btns {
        height: 24px;
        width: 24px;
    }
    .fullscreen-control-btns {
        height: 24px;
        width: 24px;
    }
    .control-icons {
        height: 32px;
        width: 32px;
    }
}
@media(max-width: 500px) {
    .start-arrow {
        right: 28%;
    }
    .move-right {
        right: 22%;
    } 
    .turn-device {
        font-size: 12px;
        padding: 20px 30px;
    }
    .control-btns {
        height: 20px;
        width: 20px;
    }
    .fullscreen-control-btns {
        height: 20px;
        width: 20px;
    }

}
@media(max-width: 444px) {
    .btn-replay {
        width: 40px;
        height: 40px;
        border: 4px solid white;
    }
    .btn-replay img {
        height: 32px;
    }
    .sound-fullscreen-cont {
        gap: 5px;
    }
    .start-arrow {
        bottom: 5.5%;
        right: 30%;
        height: 28px;
        width: 28px;
    }
    .move-right {
        right: 25%;
    } 
    .panel {
        width: 120px;
    }
    .control-panel-right {
        padding: 20px 0;
    }
    .control-panel-left {
        padding: 20px 0;
    }
}
@media(max-width: 380px) {
    .start-arrow {
        right: 30%;
    }
    .move-right {
        right: 25%;
    }
    .red-btn-cont {
        height: 14px;
        width: 14px;
    } 
    .home-icon {
        height: 14px;
        width: 14px; 
    }
    .btn-play {
        width: 48px;
        height: 48px;
        border: 4px solid white;

        &:before{
            display:block;
            left: 63%;
            border-width: 13px 0px 13px 20px;
        }
    }
    .start-arrow {
        right: 35%;
    }
    .move-right {
        right: 29%;
    } 
    .turn-device {
       text-align: center;
    }
    .control-panel-right {
        padding: 15px 0;
    }
    .control-panel-left {
        padding: 15px 0;
    }
}