/* Smartphones */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

/* Smartphones */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
    .content h1 {
        display: none;
    }
    /* .content img {
        display: none;
    } */
}

@media(max-width: 1000px) {
    .btn-play {
        width: 60px;
        height: 60px;
        border: 4px solid white;

        &:before{
            display:block;
            left: 60%;
            border-width: 13px 0px 13px 20px;
        }
    }
    .btn-replay {
        width: 60px;
        height: 60px;
        border: 4px solid white;
    }
    .btn-replay img {
        height: 44px;
    }
}
@media(max-width: 650px) {
    .sound-icon {
        right: 11%;
    }
}
@media(max-width: 580px) {
    .replay-btn-container {
        top: 40%;
    }
}
@media(max-width: 444px) {
    .replay-btn-container {
        top: 55%;
    }
    .btn-replay {
        width: 40px;
        height: 40px;
        border: 4px solid white;
    }
    .btn-replay img {
        height: 32px;
    }
    .sound-icon {
        right: 13%;
        bottom: 2.5%;
        height: 24px;
    }
    .fullscreen-icons {
        bottom: 2.5%;
        height: 24px;
    }

}