@font-face {
    font-family: 'Tequila';
    src: url('../fonts/La Tequila.ttf');
}
@font-face {
    font-family: 'LasLocuras';
    src: url('../fonts/Las locuras del emperador.TTF');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('../img/background-canvas/desert7.png');
    background-position: center;   
}
.start-screen-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}
.start-screen-overlay {
    position: absolute;
    inset: 0;
    background-image: url('../img/background-canvas/desert7.png');
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-cont {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    overflow: auto;
    display: flex;
    align-items: center;
}
.start-screen-img {
    height: auto;
    width: 100%;
}
.start-sound-icon {
    position: absolute;
    height: 36px;
    width: 36px;
    bottom: 3.5%;
    right: 9%;
    cursor: pointer;
}
.start-sound-icon {
    transform: scale(1.1);  
}
.start-fullscreen-icons {
    position: absolute;
    bottom: 3.5%;
    right: 3.5%;
    height: 36px;
    width: 36px;
    cursor: pointer;
}
.start-fullscreen-icons:hover {
    transform: scale(1.1);
}

/* styling of play button */

.play-btn-container{
    position: absolute;
    z-index: 4;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}

.circle{
    display:block;
    position: absolute;
    top:-4px;
    left:-4px;
    width:120px;
    height:120px;
    stroke-dasharray:1000px;
    stroke-dashoffset:0;
    transform-origin: 50% 50%;
    transition: all .8s linear .2s, opacity 0s linear 0s;
    
  }
  
.btn-play{
    display:block;
    position:relative;
    border:8px solid white;
    box-shadow:0 4px 6px -3px rgba(black, .3), inset 0 3px 4px -2px rgba(black, .25);
    position:relative;
    width:88px;
    height:88px;
    background:#A0220A;
    background-image: linear-gradient(120deg, rgba(lighten(#e03f1f, 15%), .3) 50%, #ee4a29 51%);
    border-radius:50%; 
    transition: all .2s cubic-bezier(0.68, -0.55, 0.465, 1.55) .2s, border-width .4s cubic-bezier(0.68, -0.55, 0.465, 1.55);
    cursor: pointer;

    
    &:before{
      display:block;
      position:absolute;
      content:"";
      bottom:50%;
      left:50%;
      width:0;
      height:0;
      border:30px solid transparent;
      border-width:25px 0px 25px 40px;
      border-radius:0;
      border-left-color:white;
      transform:translate(-13px, 50%);
      
    }
    
    &:hover, &.active{    
      border: 4px solid white;
      .circle{
        stroke-dasharray:-1000px;
        stroke-dashoffset:-500px;
        opacity:0;
        transition: all 2s linear .3s, opacity .1s linear 2s;
      }
      
      &:before{
        animation:playJump .5s linear infinite;
      }
    }
  }
  
  @keyframes playJump{
    
    0%   { transform:translate(-13px, 60%) scale(1.1,0.7) ; }
    10%   { transform:translate(-13px, 30%) scale(0.9,1.2); }
      20%  { transform:translate(-13px, 15%); }
      40%  { transform:translate(-13px, 10%); }
      /* // 45%  { top: 160px; height: 40px; width: 60px; margin-left: -30px; } */
      50%  {transform:translate(-13px, 10%); }
      55%  { transform:translate(-13px, 18%); }
      60%  { transform:translate(-13px, 20%); }
      65%  { transform:translate(-13px, 25%); }
      70%  { transform:translate(-13px, 30%);}
      90%  { transform:translate(-13px, 60%) scale(1.2,0.7); }
      100% { transform:translate(-13px, 60%) scale(1.4,0.7);}
  }


/* styling replay button */

.replay-btn-container {
    position: absolute;
    top: 200px;
    left: 10px;
    z-index: 4;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    width:100%;
}
.space {
    height: 130px;
    width: 10px;
}
  
.btn-replay {
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    border:6px solid white;
    box-shadow:0 4px 6px -3px rgba(black, .3), inset 0 3px 4px -2px rgba(black, .25);
    position:relative;
    width:80px;
    height:80px;
    background:#A0220A;
    background-image: linear-gradient(120deg, rgba(lighten(#e03f1f, 15%), .3) 50%, #ee4a29 51%);
    border-radius:50%; 
    transition: all .2s cubic-bezier(0.68, -0.55, 0.465, 1.55) .2s, border-width .4s cubic-bezier(0.68, -0.55, 0.465, 1.55);
    cursor: pointer;

    
    &:before{
      display:block;
      position:absolute;
      content:"";
      bottom:50%;
      left:50%;
      width:0;
      height:0;
      border:30px solid transparent;
      /* border-width:25px 0px 25px 40px; */
      border-radius:0;
      /* border-left-color:white; */
      transform:translate(-13px, 50%);
      
    }
    
    &:hover, &.active{    
      border: 4px solid white;
      .circle{
        stroke-dasharray:-1000px;
        stroke-dashoffset:-500px;
        opacity:0;
        transition: all 2s linear .3s, opacity .1s linear 2s;
      }
      
      &:before{
        animation:playJump .5s linear infinite;
      }
    }
  }
  
  @keyframes playJump{
    
    0%   { transform:translate(-13px, 60%) scale(1.1,0.7) ; }
    10%   { transform:translate(-13px, 30%) scale(0.9,1.2); }
      20%  { transform:translate(-13px, 15%); }
      40%  { transform:translate(-13px, 10%); }
      /* // 45%  { top: 160px; height: 40px; width: 60px; margin-left: -30px; } */
      50%  {transform:translate(-13px, 10%); }
      55%  { transform:translate(-13px, 18%); }
      60%  { transform:translate(-13px, 20%); }
      65%  { transform:translate(-13px, 25%); }
      70%  { transform:translate(-13px, 30%);}
      90%  { transform:translate(-13px, 60%) scale(1.2,0.7); }
      100% { transform:translate(-13px, 60%) scale(1.4,0.7);}

}
.btn-replay img {
    height: 64px;
    transition: transform 1.5s ease;
}
.btn-replay img:hover {
    transform: rotate(180deg);
}

/* styling user-hint to activate sound */

.user-hint {
    position: absolute;
    background-color: #A0220A;
    bottom: 1.5%;
    right: 15%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 20px;
    border-radius: 10px;
}
.user-hint span {
    font-family: 'LasLocuras';
    font-size: 20px;
    color: white;
}
.start-arrow {
    height: 28px;
    width: 28px;
}

.content {
    position: relative;
    background-image: url('../img/background-canvas/desert7.png');
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.fullscreen-icons {
    position: absolute;
    bottom: 3.5%;
    right: 3.5%;
    height: 28px;
    width: 28px;
    cursor: pointer;
}
.fullscreen-icons:hover {
    transform: scale(1.1);
}
.sound-icon {
    position: absolute;
    height: 28px;
    width: 28px;
    bottom: 3.5%;
    right: 9%;
    cursor: pointer;
}
.sound-icon:hover {
    transform: scale(1.1);  
}

h1 {
    font-family: 'Tequila';
    font-size: 32px;
    color: #A0220A;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.canvas-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
canvas {
    background-color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    display: block;
}

.d-none {
    display: none;
}



/* Smartphones */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

/* Smartphones */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
    .content h1 {
        display: none;
    }
    .content img {
        display: none;
    }
}

@media(max-width: 1000px) {
    .btn-play {
        width: 60px;
        height: 60px;
        border: 4px solid white;

        &:before{
            display:block;
            left: 60%;
            border-width: 13px 0px 13px 20px;
        }
    }
    .btn-replay {
        width: 60px;
        height: 60px;
        border: 4px solid white;
    }
    .btn-replay img {
        height: 44px;
    }
}
@media(max-width: 650px) {
    .sound-icon {
        right: 11%;
    }
}
@media(max-width: 580px) {
    .replay-btn-container {
        top: 40%;
    }
}
@media(max-width: 444px) {
    .replay-btn-container {
        top: 55%;
    }
    .btn-replay {
        width: 40px;
        height: 40px;
        border: 4px solid white;
    }
    .btn-replay img {
        height: 32px;
    }
    .sound-icon {
        right: 13%;
        bottom: 2.5%;
        height: 24px;
    }
    .fullscreen-icons {
        bottom: 2.5%;
        height: 24px;
    }

}