@font-face {
    font-family: 'Tequila';
    src: url('./fonts/La Tequila.ttf');
}
@font-face {
    font-family: 'LasLocuras';
    src: url('./fonts/Las locuras del emperador.TTF');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('./img/background-canvas/desert7.png');
    background-position: center;   
}

.white {
    color: white;
}

.flex {
    display: flex;
}

.turn-device-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 199;
    display: flex;
    justify-content: center;
    align-items: center;
}

.turn-device {
    padding: 30px 50px;
    background-color: #A0220A;
    color: white;
    border-radius: 20px;
    font-family: 'Tequila';
    font-size: 14px;
}


/* styling control button panels */

.control-panel-left {
    position: absolute;
    left: 1%;
    z-index: 99;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 45px 10px;
    background-color: #FDCF5D;
    border-radius: 40px 20px 40px 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.control-panel-right {
    position: absolute;
    right: 1%;
    z-index: 99;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 45px 10px;
    background-color: #FDCF5D;
    border-radius: 20px 40px 20px 40px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.control-btns {
    height: 72px;
    width: 72px;
    padding: 10px;
    background-color: #A0220A;
    border-radius: 60px;
    border: solid 2px white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-icons {
    height: 56px;
    width: 56px;
}

.start-screen-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}

.start-screen-overlay {
    position: absolute;
    inset: 0;
    background-image: url('./img/background-canvas/desert7.png');
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-cont {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    overflow: auto;
    display: flex;
    align-items: center;
}

.start-screen-img {
    height: auto;
    width: 100%;
}


/* styling sound - fullscreen - icons */

.panel {
    position: absolute;
    width: 200px;
    bottom: 3.5%;
    left: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.panel-icon-cont {
    height: 32px;
    width: 32px;
    padding: 10px;
    background-color: #A0220A;
    border-radius: 40px;
    border: solid 2px white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-icon-cont:hover {
    transform: scale(1.1);    
}

.panel-icon {
    height: 32px;
    width: 32px;
}


/* styling info popup */

.info-popup {
    position: absolute;
    height: 70%;
    width: 35%;
    background-color: #A0220A;
    z-index: 10;
    border-radius: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    overflow: hidden;
}

.info-popup::-webkit-scrollbar {
    display: none;
}


/* styling control layout */

.control-layout-cont {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding: 0 20px;
    text-align: center;
    overflow-y: scroll;
}

.control-layout-cont::-webkit-scrollbar {
    display: none;
}

.layout-btns {
    height: 28vh;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    padding: 50px 0;
    height: auto;
}

.key-d {
    font-family: 'Tequila';
    font-size: 18px;
}

.btn-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-replay-icons {
    position: absolute;
    left: 3.5%;
    bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}

.home-icon {
    height: 32px;
    width: 32px;
    padding: 10px;
    background-color: #A0220A;
    border-radius: 40px;
    border: solid 2px white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-replay {
    transition: 1s ease;
}

.home-replay:hover {
    transform: rotate(180deg);
}

.sound-fullscreen-cont {
    position: absolute;
    bottom: 2%;
    right: 3.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.fullscreen-icon {
    height: 32px;
    width: 32px;
}


/* styling of play button */

.play-btn-container{
    position: absolute;
    z-index: 4;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
}

.circle{
    display:block;
    position: absolute;
    top:-4px;
    left:-4px;
    width:120px;
    height:120px;
    stroke-dasharray:1000px;
    stroke-dashoffset:0;
    transform-origin: 50% 50%;
    transition: all .8s linear .2s, opacity 0s linear 0s;
    
}
  
.btn-play{
    display:block;
    position:relative;
    border:8px solid white;
    box-shadow:0 4px 6px -3px rgba(black, .3), inset 0 3px 4px -2px rgba(black, .25);
    position:relative;
    width:88px;
    height:88px;
    background:#A0220A;
    background-image: linear-gradient(120deg, rgba(lighten(#e03f1f, 15%), .3) 50%, #ee4a29 51%);
    border-radius:50%; 
    transition: all .2s cubic-bezier(0.68, -0.55, 0.465, 1.55) .2s, border-width .4s cubic-bezier(0.68, -0.55, 0.465, 1.55);
    cursor: pointer;

    
    &:before{
      display:block;
      position:absolute;
      content:"";
      bottom:50%;
      left:50%;
      width:0;
      height:0;
      border:30px solid transparent;
      border-width:25px 0px 25px 40px;
      border-radius:0;
      border-left-color:white;
      transform:translate(-13px, 50%);
      
    }
    
    &:hover, &.active{    
      border: 4px solid white;
      .circle{
        stroke-dasharray:-1000px;
        stroke-dashoffset:-500px;
        opacity:0;
        transition: all 2s linear .3s, opacity .1s linear 2s;
      }
      
      &:before{
        animation:playJump .5s linear infinite;
      }
    }
  }
  
  @keyframes playJump{
    
    0%   { transform:translate(-13px, 60%) scale(1.1,0.7) ; }
    10%   { transform:translate(-13px, 30%) scale(0.9,1.2); }
      20%  { transform:translate(-13px, 15%); }
      40%  { transform:translate(-13px, 10%); }
      50%  {transform:translate(-13px, 10%); }
      55%  { transform:translate(-13px, 18%); }
      60%  { transform:translate(-13px, 20%); }
      65%  { transform:translate(-13px, 25%); }
      70%  { transform:translate(-13px, 30%);}
      90%  { transform:translate(-13px, 60%) scale(1.2,0.7); }
      100% { transform:translate(-13px, 60%) scale(1.4,0.7);}
  }


/* styling replay button */

.replay-btn-container {
    position: absolute;
    top: 300px;
    left: 10px;
    z-index: 4;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    width:100%;
}

.space {
    height: 130px;
    width: 10px;
}
  
.btn-replay {
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    border:6px solid white;
    box-shadow:0 4px 6px -3px rgba(black, .3), inset 0 3px 4px -2px rgba(black, .25);
    position:relative;
    width:80px;
    height:80px;
    background:#A0220A;
    background-image: linear-gradient(120deg, rgba(lighten(#e03f1f, 15%), .3) 50%, #ee4a29 51%);
    border-radius:50%; 
    transition: all .2s cubic-bezier(0.68, -0.55, 0.465, 1.55) .2s, border-width .4s cubic-bezier(0.68, -0.55, 0.465, 1.55);
    cursor: pointer;

    
    &:before{
      display:block;
      position:absolute;
      content:"";
      bottom:50%;
      left:50%;
      width:0;
      height:0;
      border:30px solid transparent;
      border-radius:0;
      transform:translate(-13px, 50%);
      
    }
    
    &:hover, &.active{    
      border: 4px solid white;
      .circle{
        stroke-dasharray:-1000px;
        stroke-dashoffset:-500px;
        opacity:0;
        transition: all 2s linear .3s, opacity .1s linear 2s;
      }
      
      &:before{
        animation:playJump .5s linear infinite;
      }
    }
  }
  
  @keyframes playJump{
    
    0%   { transform:translate(-13px, 60%) scale(1.1,0.7) ; }
    10%   { transform:translate(-13px, 30%) scale(0.9,1.2); }
      20%  { transform:translate(-13px, 15%); }
      40%  { transform:translate(-13px, 10%); }
      50%  {transform:translate(-13px, 10%); }
      55%  { transform:translate(-13px, 18%); }
      60%  { transform:translate(-13px, 20%); }
      65%  { transform:translate(-13px, 25%); }
      70%  { transform:translate(-13px, 30%);}
      90%  { transform:translate(-13px, 60%) scale(1.2,0.7); }
      100% { transform:translate(-13px, 60%) scale(1.4,0.7);}

}

.btn-replay img {
    height: 64px;
    transition: transform 1.5s ease;
}

.btn-replay img:hover {
    transform: rotate(180deg);
}


/* styling user-hint to activate sound */

.start-arrow {
    position: absolute;
    height: 48px;
    width: 48px;
    color: #A0220A;
    bottom: 3%;
    right: 20%;
    transition: right 0.5s ;
}

.move-right {
    right: 15%;
}

.content {
    position: relative;
    background-image: url('./img/background-canvas/desert7.png');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1 {
    font-family: 'Tequila';
    font-size: 32px;
    color: #A0220A;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.canvas-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

canvas {
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    display: block;
}

.d-none {
    display: none !important;
}

.legal-notice-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding: 10px 20px 20px 20px;
    text-align: center;
    overflow: auto;
    box-sizing: border-box;
}

.legal-notice-content::-webkit-scrollbar {
    display: none;
}

.legal-notice-text {
    margin-top: 20px;
}

h2 {
    font-family: 'Tequila';
    text-shadow: 2px 2px 5px red;
    margin: 0;
}

h3 {
    font-family: 'Tequila';
    text-shadow: 2px 2px 5px red;
}

.email {
    text-decoration: none;
    color: white
}

.pepe-story {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding: 10px 20px 20px 20px;
    text-align: center;
    overflow: auto;
    box-sizing: border-box;
}

.pepe-story::-webkit-scrollbar {
    display: none;
}

.pepe-story span {
    font-family: 'Tequila';
    text-shadow: 2px 2px 5px red;
    font-size: 32px;
}

.close-icon-cont {
    display: flex;
    justify-content: flex-end;

}

.close-icon{
    height: 20px;
    width: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #A0220A;
    border: solid 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.close-icon:hover {
    transform: scale(1.1);    
}

.red-btn-cont {
    height: 32px;
    width: 32px;
    padding: 10px;
    background-color: #A0220A;
    border-radius: 40px;
    border: solid 2px white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    height: 32px;
    width: 32px;
}

.fullscreen-panel-left {
    position: absolute;
    left: 1%;
    top: 18%;
    z-index: 99;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 45px 10px;
    background-color: #FDCF5D;
    border-radius: 40px 20px 40px 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.fullscreen-panel-right {
    position: absolute;
    right: 1%;
    top: 18%;
    z-index: 99;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 45px 10px;
    background-color: #FDCF5D;
    border-radius: 40px 20px 40px 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.fullscreen-control-btns {
    height: 72px;
    width: 72px;
    padding: 10px;
    background-color: #A0220A;
    border-radius: 60px;
    border: solid 2px white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


